<li>
    <h3 class="burgerName">{{burger_name}}</h3>

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Devoured!{{else}}Ready to eat!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">Delete burger!</button>
</li>