<li class="burg-block">
    <h3 class="burgerName">{{burger_name}}</h3>

    <button type="button" class="change-devoured btn btn-success burgButton" data-id="{{id}}"
        data-newdevoured="{{devoured}}">
        {{#if devoured}}Remake{{else}}Ready to eat{{/if}}
    </button>

    <button type="button" class="delete-burger btn btn-danger burgButton" data-id="{{this.id}}">{{#if devoured}}Order
        finished{{else}} Delete order!{{/if}}</button>
</li>