<li class="burg-block">
    <h3 class="burgerName">{{burger_name}}</h3>

    <button type="button" class="change-devoured btn btn-success burgButton" data-id="{{id}}"
        data-newdevoured="{{devoured}}">
        {{#if devoured}}One more{{else}}Ready to eat{{/if}}
    </button>

    <button type="button" class="delete-burger btn btn-danger burgButton" data-id="{{this.id}}">Delete burger!</button>
</li>